bin/
obj/

/$(Configuration)/
/$(Platform)/

.nuget/

.vscode/
.idea/

.idea/

.vs/

.vscode/

*.user
*.userosscache
*.suo
*.sln.docstates

.DS_Store

Thumbs.db

*/bin/
*/obj/
*/out/

/app/build/
/app/out/
/app/.gradle/
/app/.idea/
/app/.vscode/

ios/bin/
ios/obj/

*.apk
*.aab

*.ipa
*.app
